{% extends 'base.html' %}
{% block content %}
<p>returned json file</p>
{% if elements %}
    <table>
        <thead style="border: 1px solid black;">
        <tr>
            {% for key in elements[0].keys() %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for book in elements %}
        <tr>
            {% for key in elements[0].keys() %}
            <td>{{ book[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<p>No result</p>
{% endif %}
<!-- <h3>post form</h3>
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form> -->
{% endblock %}